/* start aside侧边栏 */
/* @date: 2015/7/8 17:36:24; */
/* @author:zhaoye;*/
.aslider {
    display: none;
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
/*
.aslider .wrapper>* {
    transform: translate3d(0,0,1px);
}*/
.aslider .scroll {
    overflow: hidden;
    height: 100%;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex: 1;
    box-flex: 1;
}
.aslider .slider {
    height: 100%;
}
.aslider .wrapper {
    position: absolute;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    box-orient: vertical;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: #fff;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;

}
.aslider .wrapper>* {
}
.aslider .wrapper.left:not(.for_uc) {
    -webkit-transform: translate(-100%,0) ;
    -moz-transform: translate(-100%,0) ;
    -ms-transform: translate(-100%,0) ;
    transform: translate(-100%,0) ;
    left: 0;
}
.aslider .wrapper.right:not(.for_uc) {
    -webkit-transform: translate(100%,0) ;
    -moz-transform: translate(100%,0) ;
    -ms-transform: translate(100%,0) ;
    transform: translate(100%,0) ;
    right: 0;
}
.aslider .wrapper.top:not(.for_uc) {
    -webkit-transform: translate(0,-100%) ;
    -moz-transform: translate(0,-100%) ;
    -ms-transform: translate(0,-100%) ;
    transform: translate(0,-100%) ;
    top: 0;
}
.aslider .wrapper.bottom:not(.for_uc) {
    -webkit-transform: translate(0,100%) ;
    -moz-transform: translate(0,100%) ;
    -ms-transform: translate(0,100%) ;
    transform: translate(0,100%) ;
    bottom: 0;
}
.aslider .wrapper.bottom.for_uc {
    bottom: -100%;
}
.aslider .wrapper.top.for_uc {
    top: -100%;
}
.aslider .wrapper.left.for_uc {
    left: -100%;
}
.aslider .wrapper.right.for_uc {
    right: -100%;
}
.aslider .wrapper.scrolling {
    -webkit-transition: none 0s ease-in-out !important;
    -moz-transition: none 0s ease-in-out !important;
    -ms-transition: none 0s ease-in-out !important;
    transition: none 0s ease-in-out !important;
}
.aslider .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: #000;
    
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;

}
.aslider .fade_out {
    opacity: 0;
}
.aslider .fade_in {
    opacity: .4;
}
.aslider .wrapper.slide_out.right {
    -webkit-transform: translate(100%,0) ;
    -moz-transform: translate(100%,0) ;
    -ms-transform: translate(100%,0) ;
    transform: translate(100%,0) ;
}
.aslider .wrapper.slide_out.left {
    -webkit-transform: translate(-100%,0) ;
    -moz-transform: translate(-100%,0) ;
    -ms-transform: translate(-100%,0) ;
    transform: translate(-100%,0) ;
}
.aslider .wrapper.slide_out.top {
    -webkit-transform: translate(0,-100%) ;
    -moz-transform: translate(0,-100%) ;
    -ms-transform: translate(0,-100%) ;
    transform: translate(0,-100%) ;
}
.aslider .wrapper.slide_out.bottom:not(.for_uc) {
    -webkit-transform: translate(0,100%) ;
    -moz-transform: translate(0,100%) ;
    -ms-transform: translate(0,100%) ;
    transform: translate(0,100%) ;
}
.aslider .wrapper.slide_out.bottom.for_uc {
    bottom: -100%;
}
.aslider .wrapper.slide_out.top.for_uc {
    top: -100%;
}
.aslider .wrapper.slide_out.left.for_uc {
    left: -100%;
}
.aslider .wrapper.slide_out.right.for_uc {
    right: -100%;
}
.aslider .wrapper.slide_in:not(.for_uc) {
    -webkit-transform: translate(0,0) ;
    -moz-transform: translate(0,0) ;
    -ms-transform: translate(0,0) ;
    transform: translate(0,0) ;
}
.aslider .wrapper.slide_in.bottom.for_uc{
    bottom:0;
}
.aslider .wrapper.slide_in.top.for_uc{
    top:0;
}
.aslider .wrapper.slide_in.left.for_uc{
    left:0;
}
.aslider .wrapper.slide_in.right.for_uc{
    right:0;
}
